body {
    background-color: #242424 !important;
    color: white;
}

h1 {
    color: white;
}

h5 {
    font-size: 1.1em;
}

.centerHeading {
    text-align: center;
    padding: 2em;
    margin-top: 1em;
}

.centerCards {
    width: -moz-available;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.centerRegion {
    margin-right: 3em;
    text-align: center;
    padding: 2px 0px;
}

.item {
    padding: 3em;
    margin-right: 2em;
}
