body {
    background-color: #242424 !important;
    color: white;
}

h1 {
    color: white;
}

h5 {
    font-size: 1.1em;
}

.centerButton {
    align-content: center;
}

.spacePadding {
    padding: '0em 2em';
}

.centerRegion {
    margin-right: 3em;
    text-align: center;
    padding: 2px 0px;
}
